/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #1DA57A;
  --link-color: #1DA57A;
  --success-color: #52c41a;
  --warning-color: #faad14;
  --error-color: #f5222d;
  --body-background: #f0f2f5;
  --component-background: #ffffff;
}